<%= _.template(require('./../includes/header-index.html'))() %>
  <main class="main">
    <header class="firstscreen bg1">
      <div class="container container_xxxl">
        <div class="d-flex justify-content-center align-items-center d-xl-none">
          <div class="logo logo_main"></div>
        </div>
        <div class="firstscreen__inner">
          <div class="firstscreen__right">
            <div class="logo logo_main d-none d-xl-flex"></div>
            <div class="firstscreen__info firstscreen__info3" style="display: flex;">
              <h4 class="h4_firstscreen text-center order-2 order-xl-1">Sign up to unlock your best matches</h4>
              <form action="" class="order-1 order-xl-2">
                <div class="form-group form-group_login">
                  <input class="form-control form-control_login" type="text" placeholder="Email">
                </div>
                <div class="form-group form-group_login mb-0">
                  <input class="form-control form-control_login" type="password" placeholder="Password">
                </div>
                <div class="form-group form-group_login form-group_login-btn">
                  <button class="btn-login btn btn_w100">Sign Up</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="firstscreen__icon firstscreen__icon1"></div>
      <div class="firstscreen__icon firstscreen__icon2"></div>
      <div class="firstscreen__icon firstscreen__icon3"></div>
    </header>
    <section class="secondscreen secondscreen_2" style="display: block;">
      <div class="container container_xxxl">
        <div class="row">
          <div class="col-12 col-lg-5 col-xl-5 col-xxl-4">
            <div class="timer">
              <div class="timer__title neon-title text-center">Limited&nbsp;offer</div>
              <div class="countdown-js" data-countdown-time="0-15-0"></div>
              <div class="timer__title2">
                <h4 class="text-center text-xl-end">The best selection for you. Better claim them.</h4>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-7 col-xl-7 col-xxl-8">
            <div class="splide splide_ulist-extra user-list-extra" aria-label="Profiles extra">
              <div class="splide__track">
                <ul class="splide__list">
                  <li class="splide__slide">
                    <div class="user-list-item user-list-item_extra">
                      <div class="user-list-item-inner">
                        <div class="user-list-item__pic">
                          <div class="user-list-item__img">
                            <div class="user-list-item__photo"
                            style="background-image: url('assets/img/photos/user-01.jpg');">
                            </div>
                          </div>
                        </div>
                        <div class="user-list-item__inf">
                          <a class="user-list-item__btn btn btn_2 btn_w100" href="#">Unlock girl</a>
                          <div class="user-list-item__data">
                            <div class="user-list-item__row">
                              <div class="user-list-item__name">Emilia 29</div>
                              <div class="user-list-item__loc">Sidney ~ 100000km</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="splide__slide">
                    <div class="user-list-item user-list-item_extra">
                      <div class="user-list-item-inner">
                        <div class="user-list-item__pic">
                          <div class="user-list-item__img">
                            <div class="user-list-item__photo"
                            style="background-image: url('assets/img/photos/user-02.jpg');">
                            </div>
                          </div>
                        </div>
                        <div class="user-list-item__inf">
                          <a class="user-list-item__btn btn btn_2 btn_w100" href="#">Unlock girl</a>
                          <div class="user-list-item__data">
                            <div class="user-list-item__row">
                              <div class="user-list-item__name">Emilia 29</div>
                              <div class="user-list-item__loc">Sidney ~ 100000km</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="splide__slide">
                    <div class="user-list-item user-list-item_extra">
                      <div class="user-list-item-inner">
                        <div class="user-list-item__pic">
                          <div class="user-list-item__img">
                            <div class="user-list-item__photo"
                            style="background-image: url('assets/img/photos/user-03.jpg');">
                            </div>
                          </div>
                        </div>
                        <div class="user-list-item__inf">
                          <a class="user-list-item__btn btn btn_2 btn_w100" href="#">Unlock girl</a>
                          <div class="user-list-item__data">
                            <div class="user-list-item__row">
                              <div class="user-list-item__name">Emilia 29</div>
                              <div class="user-list-item__loc">Sidney ~ 100000km</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="splide__slide">
                    <div class="user-list-item user-list-item_extra">
                      <div class="user-list-item-inner">
                        <div class="user-list-item__pic">
                          <div class="user-list-item__img">
                            <div class="user-list-item__photo"
                            style="background-image: url('assets/img/photos/user-extra-01.jpg');">
                            </div>
                          </div>
                        </div>
                        <div class="user-list-item__inf">
                          <a class="user-list-item__btn btn btn_2 btn_w100" href="#">Unlock girl</a>
                          <div class="user-list-item__data">
                            <div class="user-list-item__row">
                              <div class="user-list-item__name">Emilia 29</div>
                              <div class="user-list-item__loc">Sidney ~ 100000km</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="splide__slide">
                    <div class="user-list-item user-list-item_extra">
                      <div class="user-list-item-inner">
                        <div class="user-list-item__pic">
                          <div class="user-list-item__img">
                            <div class="user-list-item__photo"
                            style="background-image: url('assets/img/photos/user-extra-02.jpg');">
                            </div>
                          </div>
                        </div>
                        <div class="user-list-item__inf">
                          <a class="user-list-item__btn btn btn_2 btn_w100" href="#">Unlock girl</a>
                          <div class="user-list-item__data">
                            <div class="user-list-item__row">
                              <div class="user-list-item__name">Emilia 29</div>
                              <div class="user-list-item__loc">Sidney ~ 100000km</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="splide__slide">
                    <div class="user-list-item user-list-item_extra">
                      <div class="user-list-item-inner">
                        <div class="user-list-item__pic">
                          <div class="user-list-item__img">
                            <div class="user-list-item__photo"
                            style="background-image: url('assets/img/photos/user-extra-03.jpg');">
                            </div>
                          </div>
                        </div>
                        <div class="user-list-item__inf">
                          <a class="user-list-item__btn btn btn_2 btn_w100" href="#">Unlock girl</a>
                          <div class="user-list-item__data">
                            <div class="user-list-item__row">
                              <div class="user-list-item__name">Emilia 29</div>
                              <div class="user-list-item__loc">Sidney ~ 100000km</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="splide__slide">
                    <div class="user-list-item user-list-item_extra">
                      <div class="user-list-item-inner">
                        <div class="user-list-item__pic">
                          <div class="user-list-item__img">
                            <div class="user-list-item__photo"
                            style="background-image: url('assets/img/photos/user-extra-04.jpg');">
                            </div>
                          </div>
                        </div>
                        <div class="user-list-item__inf">
                          <a class="user-list-item__btn btn btn_2 btn_w100" href="#">Unlock girl</a>
                          <div class="user-list-item__data">
                            <div class="user-list-item__row">
                              <div class="user-list-item__name">Emilia 29</div>
                              <div class="user-list-item__loc">Sidney ~ 100000km</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <div class="h1_login2 h1_login2_my neon-title">What they&nbsp;<br class="h1_login2br">say about us</div>
          </div>
        </div>
        <div class="userfbacks">
          <div class="splide splide_fback">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide">
                  <div class="userfback">
                    <div class="userfback__name">Alfred</div>
                    <div class="userfback__txt">
                      <p>“I didn't know it was so easy to find the right one!</p>
                      <p>Girls something, thank you FLIRTINGTOK!</p>
                      <p>Guys you won't regret it!”</p>
                    </div>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="userfback">
                    <div class="userfback__name">Jake</div>
                    <div class="userfback__txt">
                      <p>“God there are so many hot girls!</p>
                      <p>This is the best dating experience I've ever seen!”</p>
                    </div>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="userfback">
                    <div class="userfback__name">Jason</div>
                    <div class="userfback__txt">
                      <p>“Very accurate service of selecting exactly who you want, amazing”</p>
                    </div>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="userfback">
                    <div class="userfback__name">Philip</div>
                    <div class="userfback__txt">
                      <p>“I didn't know it was so easy to find the right one!</p>
                      <p>Girls something, thank you FLIRTINGTOK!</p>
                      <p>Guys you won't regret it!”</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
<%= _.template(require('./../includes/footer.html'))() %>
