$userprofile-img-width: 320px;
$userprofile-img-height: 420px;
$userprofile-img-width-lg: 490px;
$userprofile-img-height-lg: 600px;
$userprofile-img-width-xl: 552px;
$userprofile-img-height-xl: 680px;

$userprofile-img-wrap-width: 320px;
$userprofile-img-wrap-height: 420px;
$userprofile-img-wrap-width-lg: 490px;
$userprofile-img-wrap-height-lg: 600px;
$userprofile-img-wrap-width-xl: 552px;
$userprofile-img-wrap-height-xl: 680px;

.userprofile {
  position: relative;
  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

.userprofile__photo {
  margin: 0 auto;
  position: relative;
  width: $userprofile-img-wrap-width;
  max-width: $userprofile-img-wrap-width;
  //overflow: hidden;
  @media (min-width: 576px) {
    width: $userprofile-img-wrap-width;
    max-width: $userprofile-img-wrap-width;
  }
  @media (min-width: 992px) {
    width: $userprofile-img-wrap-width-lg;
    max-width: $userprofile-img-wrap-width-lg;
  }
  @media (min-width: 1200px) {
    padding: 0;
    width: $userprofile-img-wrap-width-lg;
    max-width: $userprofile-img-wrap-width-lg;
    margin: 0;
  }
  @media (min-width: 1400px) {
    width: $userprofile-img-wrap-width-xl;
    max-width: $userprofile-img-wrap-width-xl;
  }
}

.userprofile__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $userprofile-img-width;
  max-width: $userprofile-img-width;
  height: $userprofile-img-height;
  max-height: $userprofile-img-height;
  border-radius: 600px 600px 0 0;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  z-index: 0;
  @media (min-width: 576px) {
    height: $userprofile-img-height;
    max-height: $userprofile-img-height;
  }
  @media (min-width: 992px) {
    border-radius: 300px 300px 0 0;
    width: $userprofile-img-width-lg;
    max-width: $userprofile-img-width-lg;
    height: $userprofile-img-height-lg;
    max-height: $userprofile-img-height-lg;
  }
  @media (min-width: 1200px) {
    border-radius: 0;
    width: $userprofile-img-width-lg;
    max-width: $userprofile-img-width-lg;
    height: $userprofile-img-height-lg;
    max-height: $userprofile-img-height-lg;
  }
  @media (min-width: 1400px) {
    width: $userprofile-img-width-xl;
    max-width: $userprofile-img-width-xl;
    height: $userprofile-img-height-xl;
    max-height: $userprofile-img-height-xl;
  }
}

.userprofile__btn {
  display: block;
  margin: 0 auto;
  max-width: 280px;
  position: absolute;
  bottom: -28px;
  left: 50%;
  margin-left: -140px;
  padding: 26px 10px;
  @media (min-width: 992px) {
    width: auto;
    height: 60px;
    font-size: 18px;
    padding: 21px 10px;
  }
  @media (min-width: 1200px) {
    position: static;
    max-width: none;
    width: auto;
    height: 108px;
    font-size: 28px;
    padding: 40px 15px;
    margin: 40px 0 0;
  }
}

.userprofile__info {
  width: 100%;
  margin: 0 auto;
  background-color: $body_bg_color;
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 1200px) {
    max-width: 580px;
    margin: 0;
    border-radius: 0 134px 0 0;
    padding: 45px 60px 40px;
  }
  @media (min-width: 1400px) {
    padding: 45px 65px 40px;
  }
}

.userprofile__data {
  padding: 70px 20px 47px;
  @media (min-width: 1200px) {
    padding: 0;
  }
}

.userprofile__row {
  color: $font_color;
  line-height: 1;
  margin-bottom: 27px;
  text-align: center;
  @media (min-width: 1200px) {
    text-align: left;
    margin-bottom: 30px;
  }
}

.userprofile__name {
  font-family: $font_family;
  font-weight: 400;
  font-size: 25px;
  margin: 0 0 16px 0;
  text-transform: uppercase;
  @include overflow-ellipsis;
  @media (min-width: 1200px) {
    font-size: 49px;
    margin: 0 0 28px 0;
  }
}

.userprofile__sep {
  @media (min-width: 1200px) {
    width: 8px;
    height: 8px;
    background-color: $body_bg_color;
    margin: 0 16px;
  }
}

.userprofile__loc {
  font-family: $font_family;
  font-weight: 300;
  font-size: 18px;
  @include overflow-ellipsis;
  @media (min-width: 1200px) {
    font-size: 26px;
  }
}

.compatibility {
  width: 280px;
  max-width: 280px;
  margin: 0 auto;
  @media (min-width: 1200px) {
    margin: 0;
    width: auto;
    max-width: none;
  }
  &.compatibility_mb {
    padding-bottom: 76px;
    @media (min-width: 1200px) {
      padding-bottom: 54px;
    }
  }
  .compatibility__chart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // .progress-title {
  //   font-family: $font_family;
  //   font-weight: 300;
  //   font-size: 15px;
  //   text-align: center;
  //   margin-bottom: 10px;
  //   @include overflow-ellipsis;
  //   @media (min-width: 1200px) {
  //     font-size: 23px;
  //     margin-bottom: 13px;
  //   }
  // }
  .compatibility__progress {
    &.progress {
      border-radius: 0;
      background-color: transparent;
      border: none;
      position: relative;
      height: 20px;
      @media (min-width: 1200px) {
        height: 30px;
      }
      .progress-item {
        width: 20px;
        height: 20px;
        border: 1px solid $font_color;
        @media (min-width: 1200px) {
          width: 30px;
          height: 30px;
        }
        & + .progress-item {
          margin-left: 5px;
          @media (min-width: 1200px) {
            margin-left: 10px;
          }
        }
        &.filled {
          background-color: $btn_bg_color;
          border-color: $btn_bg_color;
        }
      }
      // .progress-bar {
      //   color: $bg_light_1;
      //   font-weight: 500;
      //   font-size: 13px;
      //   border-radius: 0;
      //   background-color: $btn_bg_color;
      //   @media (min-width: 1200px) {
      //     font-size: 17px;
      //   }
      //   .progress-title {
      //     position: absolute;
      //     width: 100%;
      //     text-align: center;
      //     top: 7px;
      //     @media (min-width: 1200px) {
      //       top: 7px;
      //     }
      //   }
      // }
    }
  }

  .compatibility__title {
    font-family: $font_family;
    color: $font_color;
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 12px;
    text-transform: uppercase;
    text-align: center;
    @media (min-width: 1200px) {
      //text-align: left;
      font-size: 22px;
      margin-bottom: 15px;
    }
  }

  &.compatibility_list {
    margin: 0;
    width: auto;
    max-width: none;

    .progress-title {
      font-size: 11px;
      margin-bottom: 4px;
      @media (min-width: $user_list_item_breakpoint) {
        font-size: 15px;
        margin-bottom: 10px;
      }
    }
    .compatibility__progress {
      &.progress {
        width: 40px;
        height: 13px;
        @media (min-width: $user_list_item_breakpoint) {
          width: 78px;
          height: 23px;
        }
        .progress-bar {
          font-size: 10px;
          @media (min-width: $user_list_item_breakpoint) {
            font-size: 16px;
          }
          .progress-title {
            top: 4px;
            @media (min-width: $user_list_item_breakpoint) {
              top: 4px;
            }
          }
        }
      }
    }
    .compatibility__title {
      font-size: 8px;
      margin-bottom: 3px;
      @media (min-width: $user_list_item_breakpoint) {
        font-size: 16px;
        margin-bottom: 5px;
      }
    }
  }

  //&.compatibility_login {}
}

.user-profile-title { //Compability score
  font-family: $font_family;
  color: $font_color;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 21px;
  text-transform: uppercase;
  text-align: center;
  @include overflow-ellipsis;
  @media (min-width: 992px) {}
  @media (min-width: 1200px) {
    font-size: 32px;
    margin-bottom: 41px;
    text-align: left;
  }
  &.user-profile-title_about { //About girl
    font-size: 25px;
    line-height: 1.2;
    margin-bottom: 23px;
    @media (min-width: 992px) {}
    @media (min-width: 1200px) {
      font-size: 49px;
      margin-bottom: 39px;
    }
  }
}

.user-profile-about {
  color: $font_color;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  position: relative;
  padding: 42px 20px 0;
  background-color: $bg_light_1;
  margin: 0 auto;
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 1200px) {
    background-color: transparent;
    font-size: 17px;
    max-width: 100%;
    padding: 68px 0 0;
  }
  p {
    line-height: 30px;
    @media (min-width: 992px) {
      line-height: 39px;
    }
  }
}
