$container-xl:              1140px;
$container-xxl:             1320px;
$container-xxxl:            1330px + 30px;
$body_bg_color:             #FFFFFF;
$btn_bg_color:              #FF95E1;
$btn_bg_color_hover:        #FF87DD;
$btn_bg_color_active:       #FF61D3;
$bg_dark_1:                 #040404;
/**/$bg_dark_2:                 #fe89a4;
/**/$bg_light_1:                #CECECE;
/**/$bg_light_2:                #FE74AA;
/**/$bg_light_3:                #D9D9D9;
$font_color:                #515151;
$font_color2:               #FFFFFF;
$font_color3:               #898989;
/**/$font_color4:               #544D4D;
$font_family:               "Montserrat", sans-serif;
$font_family2:              "MadreRose", sans-serif;
$font_weight:               400;
$font_size:                 17px;
$font_size_mobile:          14px;
$body_mb:                   130px;
$body_mb_lg:                130px;
$body_mb_xs:                100px;
$link_txt_family:           $font_family;
$link_color:                $font_color;
$link_hover_color:          $btn_bg_color;
$link_active_color:         $btn_bg_color_active;
/**/$link_hover_color1:         #bd7667; //unuse
/**/$link_hover_color2:         $link_hover_color; //unuse
$footer_height:             160px;
$footer_height_lg:          160px;
$footer_height_xs:          141px;
$footer_text_color:         #FFFFFF;
$footer_text_color_hover:   #FFBEED;
$footer_text_color_active:  #FF07BA;

//Form
$input_bg:                  $body_bg_color;
$input_hover_bg:            $input_bg;
$input_txt_family:          $font_family;
$input_txt_color:           $font_color;
$input_hover_txt_color:     $font_color;
$input_placeholder_color:   $font_color3;
/**/$input_txt_xs_size:         14px;
$input_txt_xs_lh:           1.5;
/**/$input_txt_size:            25px;
$input_txt_lh:              1.5;
$input_border_color:        $font_color;
$input_border:              1px solid $input_border_color;
$input_hover_border:        1px solid $bg_dark_1;
$input_border_radius:       0;
$textarea_border_radius:    0;
$textarea_border_radius_mob:0;


//User List page wider
/**/$user_list_item_breakpoint: 992px;
/**/$user_list_title_color:     $font_color;

/**/
@mixin circle($diameter, $background-color) {
  width: $diameter;
  height: $diameter;
  background-color: $background-color;
  border-radius: 100%;
}

@mixin img-mask($url, $top, $left, $width, $height, $bsize, $bpos) {
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: $top;
    left: $left;
    right: 0;
    bottom: 0;
    width: $width;
    height: $height;
    background-image: url($url);
    background-size: $bsize;
    background-position: $bpos;
    background-repeat: no-repeat;
    z-index: 1;
  }
}

@mixin color-filter($color, $alpha) {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color, $alpha);
  }
}

@mixin overflow-ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
